.DS_Store

application/cache/*
!application/cache/index.html
!application/cache/.htaccess

application/logs/*
!application/logs/index.html
!application/logs/.htaccess


# Test Controller & Other Local Files
# --------------------------------------
info.php
random.php
application/controllers/Test.php
string.php
todo.md

# Environment Config
# --------------------------
.env
.env-dev

# DB, Wiki Docs Reference Folder
# --------------------------------
.db
.wiki

# Third party Reference
# --------------------------
__third-party-integrations

# User Guide and its source
# --------------------------
user_guide
user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*
/vendor/

# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
.phpintel
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
