.DS_Store

# Environment Config
# --------------------------
.env
.env-dev
.env-neco

# Reference Folders
# --------------------------------
__bash
__data
__third-party-integrations
__test
__config
__wiki

# Environment Config
# --------------------------
.env
.env-dev


# IDE Files
# -------------------------
/nbproject/
.idea/*

## Sublime Text cache files
.phpintel
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project

# Other Working Files
# ----------------------
tasklist-add-new-portfolio.numbers