.DS_Store

# Environment Config
# --------------------------
.env
.env-dev

# Reference Folders
# --------------------------------
__bash
__data
__third-party-integrations
__test
__config
__wiki

# Environment Config
# --------------------------
.env
.env-dev

# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
.phpintel
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
