/**
 * InsQube Styles
 */
/*-- Image Select Preview Box Container--*/
.ins-img-ipb{
	margin-top:10px;
}
	.ins-img-ipb > img{max-height: 100px;} 

 /* -- Instant Image Preview Box*/
 .ins-img-ip{
 	cursor: pointer;
 }

	

 /* Small Devices, Tablets */
@media only screen and (max-width : 767px) {

	/*-- box-tools --*/
	 .box-header>.box-tools{
	 	position: relative;
	 	right: inherit;
	 	top: inherit;
	 	margin-top:10px;
	 }
}
