/**
 * InsQube Styles
 */
/*-- Image Select Preview Box Container--*/
.ins-img-ipb{
	margin-top:10px;
}
	.ins-img-ipb > img{max-height: 100px;} 

 /* -- Instant Image Preview Box*/
 .ins-img-ip{
 	cursor: pointer;
 }

 /*-- Row Action Triggers --*/
 .ins-action .action+.action{
 	margin-left:10px;
 }
 .ins-action .action .fa{font-size: 1.5em;}

/*-- Rounded Button --*/
.btn-round{
	border-radius: 24px; 
}

/*-- Circular Button --*/
.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}
.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 35px;
}

/* -- Live Search -- */
.live-search-search{
  position: absolute;
  left: 20px;
  top: 10px;	
  color:#999;
}
.live-search-clear{
	position: absolute;
    right: 22px;
    top: 8px;
    display: none;	
    cursor: pointer;
}
.live-search-search+.live-search{
	padding-left:20px;
	padding-right: 16px;
}

/* -- consecutive button gaps -- */
.btn+.btn{
  margin-left: 10px;
}



/*---------------------*/
/* -- Bootbox Styles --*/
/*---------------------*/
.bootbox.modal-default {
    background: #ecf0f5;
}
.bootbox.modal-default .modal-header,
.bootbox.modal-default .modal-footer {
    background-color: #f9fafc;
    border-color: rgba(210, 214, 222, 0.43);
}



/*----------------------------------*/
/* -- AdminLTE Customization -- 	*/
/*----------------------------------*/
.box.box-bordered{
    border-left: 1px solid #e9ebf0;
    border-right: 1px solid #e9ebf0;
    border-bottom: 1px solid #e9ebf0;
}
.box.box-solid.box-bordered{
    border-top: 1px solid #e9ebf0;
}
.box-header.gray{
	background: #f9fafc;
  border-bottom: 1px solid #d2d6de;
}
.box-body.gray{
  background-color:#f9fafc;
}
.box-header.with-border.border-dark{
  border-color:rgb(210, 214, 222);
}
h4.box-title{
  font-size: 16px !important;
}
.box-body > :last-child{
  margin-bottom: 0;
}

/*----------------------*/
 /* -- Media Queries -- */
 /*----------------------*/
@media only screen and (max-width : 767px) {

  /*-- box-tools --*/
  .box-header>.box-tools{
    position: relative;
    right: inherit;
    top: inherit;
    margin-top:10px;
  }

  /* -- Master Action -- */
  .master-actions{
    margin-top:10px;
  }


}
